:root{
    --blue:#0fa3b1;
    --boxShadow:0px 20px 25px -5px rgba(0,0,0,0.1) , 0px 10px 10px -5px rgba(0,0,0,0.04) ;
    --lightGrey:#edf2f4;
    --pureWhite:#ffffff;
    --darkGrey:#403d39;
    --Yellow:#ff9f1c;
}

.singleCategory{
    background: none;
    padding: .7em 2em;
    border-radius: 100vw;
    border:  2px solid var(--blue);
    cursor: pointer;
    
}


.singleCategory:hover{
    background-color: var(--blue);
    color: var(--white);
}
.categoryContainer{
    padding:  1em;
    height: 180px;
    

}
.categories{
    display: flex;
gap: 1em;
padding: 1em 0;
overflow-x: scroll;

}
.categories::-webkit-scrollbar{
    display: none;
}
.categoryContainer p{
    font-size: 20px;
}

/* !CATEGORIES  */



.trendDesc{
    position: absolute;
    top: 0%;
    color: var(--white);
    width: 100%;
    background:linear-gradient(to bottom, #0000004c, #0f3a3de3);
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.trendDesc p{
    padding: 0 1em;
font-size: 20px;
width: max-content;

}


@media (min-width:640px) {
    .trendingContainer{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        max-width: 1200px;
        place-self: center;
        margin: auto;
    }
    
    
}
@media (min-width:1000px) {
    .trendingContainer{
        max-width: 1200px;
    }
    .trend{
        height: 330px;
    }
    
}


/* headings */
.headings{
    padding: 1em;
    color: #0fa3b1;
}


/* ! prevoius page headings */
.prevoiusHeading{
    padding-left: 1em;
    padding-top: 1em;
    cursor: pointer;
}
.prevoiusHeading:hover{
    color: #0fa3b1;
}

@media (max-width:640px) {
    .headings{
        font-size: 20px;
        text-decoration: underline;
        line-height: 20pxx;
    }
    
}


/* trendng scroll anime */
/* styles.css */
.scrolling-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .scrolling-content {
    display: inline-block;
    animation: scroll 70s linear infinite; /* Adjust the duration as needed */
    height: 200px;
    width: 300px;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
     /* Add space between scrolling divs */
  }
  .scrolling-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  @keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-700%); /* Adjust the percentage based on the number of content blocks */
    }
  }
  .colorsCont{
    padding-left: 1em;
    width: 100%;
    
  }
  .colorsCont  button{
    width: 60px;
    height: 40px;
    margin-left: 1em;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2) ;
    cursor: pointer;
  }
  .selected_color{
    position: relative;
  }
  .selected_color::after{
    content: "\2713";
    font-size: 16px;
    ;
  }

  .colorbtn{
    width: 60px;
    height: 40px;
    margin-left: 1em;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2) ;
    cursor: pointer;


  }
  
  .filter_heading{
    padding-left: 1em;
    letter-spacing: 1px;
  }

  .priceFilter button{
    padding: 7px;
    border-radius: 8px;
    border: none;
    box-shadow:var(--darkShadow) ;
    background-color: var(--blue);
color: var(--white);
cursor: pointer;
  }
 
  .filter_heading{
    padding-bottom: 1em;
    font-size: 19px;
  }

  .itemNotFound{
    display: grid;
    place-content: center;
    height: 250px;
    width: 100%;
    
  }
  .itemNotFound h1{
    text-align: center;
  }
  .itemNotFound img{
    width: 100%;
  }
  @media (max-width:640px) {
   
    .colorsCont{
        width: 100%;
        
        
        display: flex;
        flex-wrap: wrap;
        place-content: center;
        padding: 1em;
        gap: .3em;

    
    }
    .colorsCont button{
        width: 30px;
        height: 30px;
    }
    
  }

  

  /* !fake category */
  .fakeCategory{
    border: none;
    background-color: var(--lightGrey);
    width: 60px;
    padding: 3px 5em;
    box-shadow: var(--boxShadow);
    height: 40px;
  }

  