*{
    list-style: none;
    font-family: 'Poppins', monospace;
}

:root{
    --boxShadow:0px 20px 25px -5px rgba(0,0,0,0.1) , 0px 10px 10px -5px rgba(0,0,0,0.04) ;
    --lightGrey:#edf2f4;
    --pureWhite:#ffffff;
    --cartBg:#22333b;
}

.nav{
    height: 70px;
    display: flex;
    background: var(--pureWhite);
    justify-content: space-between;
    box-shadow:  var(--boxShadow);
    padding: 0 2em;
    align-items: center;
   
    

}

.logoImage{
    height: 100%;
}
.logoImage img{
    height: 100%;
}
.uls{
    display: flex;
    gap: 3em;
}
.Navigations{
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.carts{
    display: flex;
    gap:  2em;

}
.fa-bars,
.fa-xmark{
    display: none;
}

.fa-bars,
.cartIcon,
.searchIcon{
    font-size: 20px;
    cursor: pointer;
}

.cartIcon{
    position: relative;
}
.count{
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: grid;
    top: -13px;
    right: -13px;
    place-content: center;
    color: var(--pureWhite);
}
.fa-left-long{
    display: none;
}
.count small{
    font-size: 12px;
}

/* !<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* !CAR T*/
.cartbox{
    position: fixed;
    width: 300px;
    background-color: var(--lightGrey);
    height: 100vh;
    top: 0;
    right: -100%;
    overflow-y: scroll;
    padding: 2em 1em;
    
    transition: 1s;
    
 
    
}
.showCart{
    right: 0;
    transition: 1s;
}
.cartActions{
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.cartShoppingList{
    background-color: var(--cartBg);
    color: var(--pureWhite);
    height: 70vh;
    margin-top: 5em;
    padding: 1em ;
    border-radius: 25px;
    overflow-y: scroll;
    box-shadow: var(--boxShadow);
    
}
.cartShoppingList::-webkit-scrollbar{
    display: none;
}

.fa-arrow-right{
    font-size: 20px;
    cursor: pointer;
}
.clearBtn{
    padding: .5em 1em ;
    background-color: var(--pureWhite);
    border: none;
    border-radius: 5px;

    box-shadow: var(--boxShadow);
    cursor: pointer;
}
.itemImage img{
    width: 60px;
}
.itemImage{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selectedItem{
    display: flex;
    justify-content: space-between;
    padding:0 1em;
    border: 1px solid var(--lightGrey);
    border-radius: 20px;
}

.AddItem{
    display: flex;
    align-items: center;
    gap: 1em;
}

@media (min-width:640px) {
    .Navigations{
        font-size: 18px;
    }
    .cartbox{
        width: 350px;
    }
    
}

/* !small screen navigation for home page */
@media (max-width:800px) {
    .Navigations{
        position: fixed;
        background-color:var(--lightGrey) ;
        height: 50vh;
        top: 73px;
        left: -100%;
        transform: translate(-50%,-50%);
        width: 300px;
        display: none;
        place-content: center;
        opacity: 0;
        transform: translateY(-10px);
        transition:  1s ease ;
    }

.fa-bars,
.fa-xmark{
    display: block;
}
    .fa-left-long{
        position: absolute;
        top: 1em;
        right: 1em;
        cursor: pointer;
        font-size: 20px;
        display: block;
    }
    .showNav{
        display: grid;
        opacity: 1;
        
box-shadow:var(--boxShadow);
border-radius: 10px;
left: 0;
transition: 1s;

    }
    
}

@media (max-width:540px) {
    .nav{
        padding: 0 .5em;
    }
    .logoImage img{
        width: 90px;
    }
    
}
