*{
    list-style: none;
    font-family: 'Poppins', monospace;
}

:root{
    --boxShadow:0px 20px 25px -5px rgba(0,0,0,0.1) , 0px 10px 10px -5px rgba(0,0,0,0.04) ;
    --lightGrey:#edf2f4;
    --pureWhite:#ffffff;
    --cartBg:#22333b;
    --Yellow:#ff9f1c;
    --lightDark:#030d1185;
    --lightBlue:#0fa3b1;
}

.nav{
    height: 70px;
    display: flex;
    background: var(--pureWhite);
    justify-content: space-between;
    box-shadow:  var(--boxShadow);
    padding: 0 2em;
    align-items: center;
   
    

}

.logoImage{
    height: 100%;
}
.logoImage img{
    height: 100%;
    cursor: pointer;
}
.uls{
    display: flex;
    gap: 3em;
}

.carts{
    display: flex;
    gap:  2em;

}
.fa-bars,
.fa-xmark{
    display: none;
    font-size: 20px;
}

.fa-bars,
.cartIcon,
.searchIcon{
    font-size: 20px;
    cursor: pointer;
}

.cartIcon{
    position: relative;
}
.count{
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: grid;
    top: -13px;
    right: -13px;
    place-content: center;
    color: var(--pureWhite);
}

.count small{
    font-size: 12px;
}

/* !<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* !CAR T*/
.cartbox{
    position: fixed;
    width: 300px;
    background-color: var(--lightGrey);
    height: 100vh;
    top: 0;
    right: -100%;
    overflow-y: scroll;
    padding: 2em 1em;
    z-index: 1;
    
    transition: 1s;
    
 
    
}
.showCart{
    right: 0;
    transition: 1s;
}
.cartActions{
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.cartShoppingList{
    background-color: var(--cartBg);
    color: var(--pureWhite);
    height: 70vh;
    margin-top: 5em;
    padding: 1em ;
    border-radius: 25px;
    overflow-y: scroll;
    box-shadow: var(--boxShadow);
    
}
.cartShoppingList::-webkit-scrollbar{
    display: none;
}

.fa-arrow-right{
    font-size: 20px;
    cursor: pointer;
}
.clearBtn{
    padding: .5em 1em ;
    background-color: var(--pureWhite);
    border: none;
    border-radius: 5px;

    box-shadow: var(--boxShadow);
    cursor: pointer;
}
.itemImage img{
    width: 60px;
    object-fit: cover;
    height: 70px;
}
.itemImage{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selectedItem{
    display: flex;
    justify-content: space-between;
    padding:.2em 1em;
    border: 1px solid var(--lightGrey);
    border-radius: 20px;
    margin-bottom:1em ;
}

.AddItem{
    display: flex;
    align-items: center;
    gap: 1em;
}

.cartImage{
    width: 70px;
    height: 70px;
    margin-right: .5em;
    
}
.cartImage img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.fa-minus,
.fa-plus{
    cursor: pointer;

}
.fa-minus{
    color: red;
}
.fa-plus{
    color: green;
}
@media (min-width:640px) {
    .Navigations{
        font-size: 18px;
    }
    .cartbox{
        width: 350px;
    }
    
}

/* nav home background */


/* !small screen navigation for home page */

    .Navigations{
        position: fixed;
        background-color:var(--lightDark) ;
        height: 100vh;
        
        top: 0;
        left: -100%;
        transform: translate(-50%,-50%);
        width: 100%;
        display: none;
       
        opacity: 0;
        transform: translateY(-10px);
        transition:  1s ease ;
        z-index: 100;
        border-radius: 0;
    }
    .categories_for_nav_container{
        width: 300px;
        left: 0;
        
        overflow-y: scroll;
        background-color:var(--pureWhite);
    }

    .user_logedInInfo{
        background-color: var(--cartBg);
        height: 50px;
        display: grid;
        place-content: center;
        color: var(--pureWhite);
        font-weight: 700;
    }

.fa-bars,
.fa-xmark{
    display: block;
}
    #xmark_for_nav_container{
        position: absolute;
        top: 1em;
        left: 10.5em;
        cursor: pointer;
        font-size: 30px;
        display: block;
        color: var(--pureWhite);
    }
    .showNav{
display: grid;
opacity: 1;
box-shadow:var(--boxShadow);

left: 0;
transition: 1s;


    }
    


    /* !DROP DOWN FOR THE NVIGATION */

    .shopBy_category_child{
        display: flex;
        justify-content: space-between;
        position: relative;
        padding:.2em 1em;
        font-size: 20px;


    }
    .drop_down{
        display: none;
        padding: 1em;
    }
    
    .fa-chevron-right {
        cursor: pointer;
  

    }
    .drop {
        display: block;
    }


@media (max-width:540px) {
    .nav{
        padding: 0 .5em;
    }
    .logoImage img{
        width: 90px;
    }
    
}

.NoItems{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50%;
    
    



}
.NoItems h4{
    padding-bottom: 2em;
}
.fa-face-sad-tear{
    font-size: 50px;
    padding-top: 1em;
}

.total{
    background-color: #457b9d;
    height: 40%;
    border-radius: 20px;
    padding: 1em;
}
.total p{
    padding-bottom: 1em;
    letter-spacing: 2px;
}
.cashOut{
    width: 100%;
    border-radius: 100vw;
    padding: 1em 0;
    border: none;
    margin-top: 20%;
    color:var(--pureWhite);
    background-color: var(--Yellow);
    cursor: pointer;
}

 /* SEARCH BARS  */
.searchBar{
    display: flex;
    place-content: center;
    padding: 1em 1em;
    background-color: #403d39;
    align-items: center;
    
    
}
.search{
    padding: 12px 1em;
    width: 90%;
    border: none;
    font-size: 17px;
    border-radius:10px ;
    letter-spacing: 0;
    
}
.search:focus{
    outline: none;
}
/* .search:focus + .searchContainer{
    border: 1px solid var(--lightBlue);
    background-color: tomato;
} */
.searchContainer{
    width: 70%;
    background-color: var(--pureWhite);
border-radius: 10px;
display: flex;
justify-content: space-between;
position: relative;
}
.seachbtn{
    border: none;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
}
.fa-magnifying-glass{
    font-size: 20px;
}

.searchResults{
    position:absolute ;
    background-color: var(--pureWhite);
    width: 100%;
    top: 109%;
    z-index: 50;
letter-spacing: 1px;
line-height: 20px;
border-radius: 20px;
    box-shadow: var(--boxShadow);

}
.searchResults p{
    padding-left: 1em;
    padding: 10px 1em ;
    cursor: pointer;
    color: var(--lightBlue);
}
.searchResults p:hover{
    background-color: var(--lightGrey);
    border-radius: 20px;
    
}

.loader{
    height: 100px;
    position: relative;

}
.loadingInfo{
    position: absolute;
    top: 80%;
    transform: translate(-50%,-50%);
    left: 50%;
    width: 100%;
    text-align: center;
}
.loader img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.noItem{
    padding: 3em 0;
    text-align: center;
    color: var(--lightBlue);
}

@media (max-width:640px) {
    .searchContainer{
        width: 90%;
    }
    
}