:root{
    --boxShadow:0px 20px 25px -5px rgba(0,0,0,0.1) , 0px 10px 10px -5px rgba(0,0,0,0.04) ;
    --lightGrey:#edf2f4;
    --pureWhite:#ffffff;
    --darkGrey:#403d39;
    --Yellow:#ff9f1c;
}
.card{
   
    width: 246px;
    min-height: 300px;
    max-height: 400px;
    border-radius: 10px;
    box-shadow:var(--boxShadow) ;
    background-color: var(--lightGrey);
    
}
.shoeImage{
    width: 100%;
    height: 170px;
    position: relative;
    overflow: hidden;

}
.shoeImage img{
    position: absolute;
    height: 100%;
    width: 100%;
   border-top-right-radius:10px ;
    border-top-left-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.cardsHolder{
    padding: 1em;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr ;
 

}

.shoeDesc{
    padding: 1em;
}
.desc{
    color: var(--darkGrey);
}
.shoeBottom {
    display: flex;
    gap: 1em;
}
.addIcon{
    padding: 7px;
    border-radius: 5px;
    border: none;
    background-color:var(--Yellow) ;
    color: var(--lightGrey);
    cursor: pointer;

}


@media only screen  and (min-width:900px) {
    .cardsHolder{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    
}
@media only screen  and (max-width:1326px) {
    .cardsHolder{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}
@media only screen  and (max-width:1060px) {
    .cardsHolder{
        gap: 1em;
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .card{
       min-width: 200px;
    }
    
}


@media only screen  and (max-width:800px) {
    .cardsHolder{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .card{
        width: 320px;
    }
   
}
@media only screen  and (min-width:1609px) {
    .cardsHolder{
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
}

@media only screen  and (min-width:1400px  ) and (max-width:1605px) {
    .card{
        width: 270px;
        
    }
    
}
@media only screen and (max-width:688px) {
    .card{
        width: 350px;
        min-height: 350px;
    }
    .shoeImage{
        height: 220px;
    }
    
}