:root{
    --boxShadow:0px 20px 25px -5px rgba(0,0,0,0.1) , 0px 10px 10px -5px rgba(0,0,0,0.04) ;
    --lightGrey:#edf2f4;
    --pureWhite:#ffffff;
    --darkGrey:#403d39;
    --Yellow:#ff9f1c;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
   
    width: 246px;
    min-height: 300px;
    max-height: 400px;
    border-radius: 10px;
    box-shadow:var(--boxShadow) ;
    background-color: var(--lightGrey);
    cursor: pointer;
}
.shoeImage{
    width: 100%;
    height: 190px;
    position: relative;
    overflow: hidden;

}

/* !false preloaders */
.flaseCard{
    width: 246px;
    min-height: 300px;
    max-height: 400px;
    border-radius: 10px;
    box-shadow:var(--boxShadow) ;
    background-color: var(--pureWhite);
    display: block;
}
.falseimg{
    background-color: var(--lightGrey);
    border-radius: 10px 10px 0 0;
    height: 190px;
}
.falseName{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--lightGrey);
}
.falseAbout{
    height: 35px;
    width: 100%;
    background-color: var(--lightGrey);
    margin-top: 1em;
    border-radius: 5px;
}
.falseBottom{
    width: 100px;
    height: 30px;
    margin-top: 1em;
    border-radius: 5px;
    background-color: var(--lightGrey);
}

.fakeScrollContent{
   width: 250px; 
   height: 160px;
   border-radius: 20px;
   background-color: var(--pureWhite);
   box-shadow: var(--boxShadow);
}
.fakebg{
    height: 100%;
    width: 100%;
    background-color: var(--lightGrey);
    border-radius: 20px;
}
.shoeImage img{
    position: absolute;
    height: 100%;
    width: 100%;
   border-top-right-radius:10px ;
    border-top-left-radius: 10px;
    object-fit: cover;
    object-position: center;
}


.cardsHolder{
    padding: 1em;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr ;
 

}

.shoeDesc{
    padding: 1em;
}
.desc{
    color: var(--darkGrey);
}
.shoeBottom {
    display: flex;
    gap: 1em;
}
.addIcon{
    padding: 7px;
    border-radius: 5px;
    border: none;
    background-color:var(--Yellow) ;
    color: var(--lightGrey);
    cursor: pointer;

}

/* !INSPECTION PAGE FOR THE SELECTED ITEM */
.small_images{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
   width: 100%;

}
.small_images img{
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    
}
.wideViewImage{
    border-radius: 20px;
    border: 1px solid var(--Yellow);
    height: 400px;
    min-width: 300px;
    max-width: 600px;
    
    place-content: center;
    margin-bottom: 1em;
}

.wideViewImage img{
    border-radius: inherit;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.inspectdetails{
    min-width: 300px;
    max-width: 500px;

}

.InspectPage{
    position: relative;
}
.popUp{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1em;
    z-index: 60;
    background-color:#403d3948;
    display: flex;
    align-items: center;
    justify-content: center;
    
   

}
.popCard{
    min-width: 200px;
    max-width: 500px;
    background-color: var(--pureWhite);
    height: 20em;
    border-radius: 20px;
    box-shadow: var(--boxShadow);
    padding-top: 3em;
    text-align: center;
   
}
.cartAnime{
    width: 100%;
}
.cartAnime img{
    width: 100%;
    border-radius: 0 0 20px 20px;
}

.inspectContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 1em;
    place-content: center;
    padding: 2em;
}

.secondCash{
    margin: 1em;
    font-size: 17px;
    width: 100%;
}
.Add_tocart{
    display: flex;
    flex-direction: column;
    place-content: center;
}

@media only screen  and (min-width:900px) {
    .cardsHolder{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    
    
}
@media only screen  and (max-width:1326px) {
    .cardsHolder{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}
@media only screen  and (max-width:1060px) {
    .cardsHolder{
        gap: 1em;
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .card{
       min-width: 200px;
    }
    
}

/* !BACK */
.back{
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--lightGrey);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 1em;
    top: 5em;
    cursor: pointer;
    box-shadow: 0px 24px 38px 3px rgba(0,0,0,0.14) , 0px 9px 46px 8px rgba(0,0,0,0.12) , 0px 11px 15px -7px rgba(0,0,0,0.2) ;
}

@media only screen  and (max-width:800px) {
    .cardsHolder{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .card{
        width: 320px;
    }
   
}
@media only screen  and (min-width:1609px) {
    .cardsHolder{
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
}

@media only screen  and (min-width:1400px  ) and (max-width:1605px) {
    .card{
        width: 270px;
        
    }
    
}
@media only screen and (max-width:688px) {
    .card{
        width: 350px;
        min-height: 350px;
    }
    .shoeImage{
        height: 220px;
    }
    .back{
        left: .1em;
        
    }
    
}
@media (max-width:640px) {
    .wideViewImage {
        height: 300px;
        
    }
   .wideViewImage img{
    object-fit: contain;
   }
   .Add_tocart{
    padding-right: 1.5em;
   }

   .secondCash{
    font-size: 15px;
   }
   .inspectContainer{
    padding: 10px;
   }
   
    
}


/* filter styles */
.pricebtn{
    padding: 3px;
    border-radius: 2px;
    border: none;
    box-shadow: var(--boxShadow);
    background-color: var(--Yellow);
    color: var(--lightGrey);
}

.priceFilter{
    display: flex;
    gap: 1em;
    padding: 1em;
}
.colors{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 1em;
}
.colors button {
    width: 35px;
    height: 30px;
    border: none;
    border-radius:5px ;
    cursor: pointer;
    box-shadow: var(--boxShadow);
}
.center{
    text-align: left;
}
.centerH{
    text-align: center;
  
}
.add{
    position: relative;
}
.add::after{
    content: "\2713";
    font-size: 16px;
    transform: translateX(-50%);
}

.price{
    border-radius: 4px;
    padding: 3px;
    background: var(--Yellow);
    color: var(--pureWhite);
}

