@import "../components/scss/_navbar.scss";
@import  "../components/scss/_shoecard.scss";

*{
    margin: 0;
    padding: 0;
}


.home-container{
    background-color: wheat;
    height: 100%;
    width: 100vw;


    .all-shoes{
        height: 100%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;
        margin-bottom: 10px;
    }
    .pagination{
        width: 100%;
        
    }

}



